@model tareaDAS.Models.PersonaModels

@{
    ViewData["Title"] = "Details";
}

<h2>Información Personal</h2>

<div>
    <h4>Detalle</h4>
    <p><strong>La información presentada es de suma confidencialidad</strong></p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.salario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Regresar a listado</a>
</div>
