@model IEnumerable<tareaDAS.Models.PersonaModels>

@{
    ViewData["Title"] = "Index";
}

<h2>Información General de Planilla</h2>
<hr />

<p>
    <a asp-action="Create">Crear nuevo empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salario)
            </th>
          
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
