@*@Model PersonaModels*@ Error en la visualizacion de presentacion
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

Nombre: @Model.nombre
<br />
Cargo: @Model.cargo
<br />
Direccion: @Model.direccion
<br />
Salario: @Model.salario
